    .about-us-container {
      display: flex;
      /* padding-top: 6rem; */
      flex-direction: column;
      align-items: center;
    }
    .aboutusImg-1{
        max-width: 100%;
    }
    .aboutusImg-2{
        max-width: 100%;
    }
    .diva-1{
      overflow-x: hidden;
    }
    .diva-3{
        width: 100%;
        margin: 30px 0 0 100px;
    }
    .diva-4{
    position: absolute;
    margin-left: 63rem;
    margin-top: -5rem;
    }
    .aspan-1{
        font: 400 18px Calibri, -apple-system, Roboto, Helvetica, sans-serif;
        margin-bottom: 30px;
        line-height: 2;
        word-spacing: 4px;
        /* width: min-content; */
        /* overflow-x: hidden; */
    }
    .vision{
        width: 100%;
        overflow: hidden;
        padding: 80px 0px;
    }
    .aboutusImg-2{
        width: 100%;
        height: 100%;
        margin-top: -24%;
        float: right;
    }
    .mission{
        overflow: hidden;
        width: 100%;
        background-color: #F1F2F5;
    }
    .diva-6{
        width: 100vw;
        max-width: 100vw;
        background-color: #F1F2F5;
        padding-bottom: 5rem;
    }
    .diva-7{
        width: 80vw;
       margin-left: 12%;
    }

    .hideshow{
        display:flex;
    }
    .hideshow button{
        border:none;
    }
    .diva-9{
        width:100%;
        margin-top: 40px;
        display:flex;
        gap: 10%
    }
    .aboutusImg-3{
        margin-left:15%;
        width:80%;
        align-self: center;
    }
    .diva-10{
        max-width: 50%;
    }
    .diva-11{
        align-self: center;
        max-width: 50%;
        line-height: 2;
    }
    .aboutdiv-button {
      background-color: var(--Section-1, #005e8d);
      color: white;
      border: none;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 5rem;
      width: 10rem;
      box-shadow: 0px 5px 10px 2px rgb(205, 204, 204);
      transition: all 0.2s;
    }

    .aboutdiv-button:hover{
      cursor: pointer;
      transform: translateY(-2px);
      transition: all 0.2s;
    }
    .diva-12 button{
      margin-top: 30px;
    }
    .adiv-9 {
      align-self: stretch;
      z-index: 1;
      margin-top: 5px;
      width: 100%;
    }
    @media (max-width: 991px) {
      .adiv-9 {
        max-width: 100%;
      }
    }
    .adiv-10 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .adiv-10 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .acolumn {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 18%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .acolumn {
        width: 100%;
      }
    }
    .adiv-11 {
      display: flex;
      margin-top: 268px;
      flex-grow: 1;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .adiv-11 {
        margin-top: 40px;
      }
    }
    .aimg-2 {
      aspect-ratio: 1.71;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
    }
    .aimg-3 {
      aspect-ratio: 1.11;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      margin-top: 17px;
    }
    .acolumn-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 82%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .acolumn-2 {
        width: 100%;
      }
    }
    .adiv-12 {
      flex-grow: 1;
      padding: 0 20px;
    }
    @media (max-width: 991px) {
      .adiv-12 {
        max-width: 100%;
        margin-top: 18px;
      }
    }
    .adiv-13 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .adiv-13 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .acolumn-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 17%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .acolumn-3 {
        width: 100%;
      }
    }
    .aimg-4 {
      aspect-ratio: 0.39;
      object-fit: contain;
      object-position: center;
      width: 197px;
      overflow: hidden;
      margin-top: 165px;
      max-width: 100%;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .aimg-4 {
        margin-top: 40px;
      }
    }
    .acolumn-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 26%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .acolumn-4 {
        width: 100%;
      }
    }
    .aimg-5 {
      aspect-ratio: 0.57;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      margin-top: 82px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .aimg-5 {
        margin-top: 40px;
      }
    }
    .acolumn-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 57%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .acolumn-5 {
        width: 100%;
      }
    }
    .adiv-14 {
      background-color: rgba(231, 247, 255, 1);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      width: 100%;
      padding: 50px 60px;
    }
    @media (max-width: 991px) {
      .adiv-14 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .adiv-15 {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      margin: 117px 45px 37px 0;
    }
    @media (max-width: 991px) {
      .adiv-15 {
        margin: 40px 10px 0 0;
      }
    }
    .adiv-16 {
      color: var(--Text, #292929);
      font-family: Calibri;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0.54px;
    }
    @media (max-width: 991px) {
      .adiv-16 {
        max-width: 100%;
      }
    }
    .adiv-17 {
      align-self: start;
      display: flex;
      margin-top: 44px;
      max-width: 100%;
      gap: 6px;
    }
    @media (max-width: 991px) {
      .adiv-17 {
        margin-top: 40px;
      }
    }
    .aimg-6 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      overflow: hidden;
      max-width: 100%;
    }
    .adiv-18 {
      color: var(--Text, #292929);
      letter-spacing: 0.48px;
      margin-top: 8px;
      font: 400 16px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .adiv-19 {
      align-self: start;
      display: flex;
      margin-top: 22px;
      gap: 6px;
    }
    .aimg-7 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      overflow: hidden;
      max-width: 100%;
    }
    .adiv-20 {
      color: var(--Text, #292929);
      letter-spacing: 0.48px;
      margin-top: 7px;
      font: 400 16px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .adiv-21 {
      align-self: start;
      display: flex;
      margin-top: 22px;
      gap: 6px;
    }
    .aimg-8 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      overflow: hidden;
      max-width: 100%;
    }
    .adiv-22 {
      color: var(--Text, #292929);
      letter-spacing: 0.48px;
      align-self: center;
      flex-grow: 1;
      white-space: nowrap;
      margin: auto 0;
      font: 400 16px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-22 {
        white-space: initial;
      }
    }
    .adiv-23 {
      align-self: start;
      display: flex;
      margin-top: 22px;
      gap: 6px;
    }
    .aimg-9 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      overflow: hidden;
      max-width: 100%;
    }
    .adiv-24 {
      color: var(--Text, #292929);
      letter-spacing: 0.48px;
      margin: auto 0;
      font: 400 16px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    .adiv-25 {
      display: flex;
      flex-direction: column;
      fill: #eff1f4;
      overflow: hidden;
      align-self: stretch;
      position: relative;
      display: flex;
      min-height: 35rem;
      width: 100vw;
      justify-content: center;
      align-items: center;
      margin-top: -8rem;;
    }
    @media (max-width: 991px) {
      .adiv-25 {
        max-width: 100%;
        /* padding: 0 20px; */
      }
    }
    .aimg-10 {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100vw;
      object-fit: cover;
      object-position: center;
      overflow-x: hidden;
    }
    .adiv-26 {
      position: relative;
      display: flex;
      /* width: 100%; */
      max-width: 1122px;
      justify-content: space-between;
      gap: 7rem;
      margin-top: 8rem;
      /* margin: 119px 0 33px; */
    }
    @media (max-width: 991px) {
      .adiv-26 {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 60px;
      }
    }
    .adiv-27 {
      display: flex;
      flex-basis: 0%;
      flex-direction: column;
    }
    .adiv-28 {
      background-color: #f1f2f5;
      display: flex;
      flex-direction: column;
      height: 4.5rem;
      font-size: 3.5rem;
      align-self: center;
      color: line;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: -webkit-linear-gradient(#079ef0, #5806b4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .adiv-29 {
      color: var(--Text, #292929);
      letter-spacing: 0.75px;
      align-self: center;
      margin-top: 16px;
      white-space: nowrap;
      font: 700 25px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-29 {
        white-space: initial;
      }
    }
    .adiv-30 {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 7rem;
    }
    @media (max-width: 991px) {
      .adiv-30 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .adiv-31 {
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
    }
    .adiv-32 {
      background-color: #f1f2f5;
      display: flex;
      flex-direction: column;
      height: 4.5rem;
      font-size: 3.5rem;
      align-self: center;
      color: line;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: -webkit-linear-gradient(#079ef0, #5806b4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .adiv-33 {
      color: var(--Text, #292929);
      letter-spacing: 0.75px;
      align-self: center;
      margin-top: 16px;
      white-space: nowrap;
      font: 700 25px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-33 {
        white-space: initial;
      }
    }
    .adiv-34 {
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
    }
    .adiv-35 {
      background-color: #f1f2f5;
      display: flex;
      flex-direction: column;
      height: 4.5rem;
      font-size: 3.5rem;
      align-self: center;
      color: line;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: -webkit-linear-gradient(#079ef0, #5806b4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .adiv-36 {
      color: var(--Text, #292929);
      letter-spacing: 0.75px;
      align-self: center;
      margin-top: 16px;
      white-space: nowrap;
      font: 700 25px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-36 {
        white-space: initial;
      }
    }
    .adiv-37 {
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
    }
    .adiv-38 {
      background-color: #f1f2f5;
      display: flex;
      flex-direction: column;
      height: 4.5rem;
      font-size: 3.5rem;
      align-self: center;
      color: line;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: -webkit-linear-gradient(#079ef0, #5806b4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .adiv-39 {
      color: var(--Text, #292929);
      letter-spacing: 0.75px;
      align-self: center;
      margin-top: 16px;
      white-space: nowrap;
      font: 700 25px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-39 {
        white-space: initial;
      }
    }
    .adiv-40 {
      display: flex;
      margin-top: 67px;
      width: 75vw;
      max-width: 100vw;
      flex-direction: column;
      padding: 0 20px;
    }
    @media (max-width: 991px) {
      .adiv-40 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .adiv-41 {
      letter-spacing: 0.9px;
      background: linear-gradient(
        180deg,
        #005e8d -10%,
        #14b1ff 38.28%,
        #005e8d 78.59%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      align-self: center;
      white-space: nowrap;
      font: 400 30px/25px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-41 {
        white-space: initial;
      }
    }
    .adiv-42 {
      background-color: #000;
      align-self: center;
      margin-top: 26px;
      width: 509px;
      max-width: 100%;
      height: 1px;
    }
    .adiv-43 {
      color: var(--Text, #292929);
      letter-spacing: 0.9px;
      align-self: center;
      margin-top: 32px;
      white-space: nowrap;
      font: 700 30px/25px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-43 {
        white-space: initial;
      }
    }
    .adiv-44 {
      align-self: stretch;
      margin-top: 86px;
    }
    @media (max-width: 991px) {
      .adiv-44 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .adiv-45 {
      gap: 20px;
      width: 100%;
      display: flex;
    }
    @media (max-width: 991px) {
      .adiv-45 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .acolumn-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 100%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .acolumn-6 {
        width: 100%;
      }
    }
    .adiv-46 {
      color: var(--Text, #292929);
      letter-spacing: 0.36px;
      border: 0.5px solid rgba(41, 41, 41, 0.04);
      flex-grow: 2;
      justify-content: center;
      width: 50%;
      /* padding: 22px 23px; */
      font: 400 12px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-46 {
        max-width: 50%;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    /* .rec.rec-arrow {
      visibility: hidden;
      display: none;
  } */
    .acolumn-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .acolumn-7 {
        width: 100%;
      }
    }
    .adiv-47 {
      color: var(--Text, #292929);
      letter-spacing: 0.36px;
      border: 0.5px solid rgba(41, 41, 41, 0.04);
      box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.1);
      flex-grow: 1;
      justify-content: center;
      width: 100%;
      padding: 22px 23px;
      font: 400 12px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .adiv-47 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
      }
    }
    .adiv-48 {
      align-self: start;
      display: flex;
      margin-top: 19px;
      width: 670px;
      max-width: 100%;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .adiv-48 {
        flex-wrap: wrap;
      }
    }
    .adiv-49 {
      color: var(--Text, #292929);
      letter-spacing: 0.36px;
      font: 400 12px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
      display: flex;
      flex-direction: column;
      margin-left: 80px;
    }
    .adiv-50 {
      color: var(--Text, #292929);
      letter-spacing: 0.36px;
      align-self: stretch;
      font: 400 12px/30px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
        display: flex;
        flex-direction: column;
    }

    .testimonial-card-container{
      box-shadow: 0px 0px 5px 5px rgba(208, 207, 207, 0.185);
      /* margin-top: ; */
      margin: 1.2rem;
      padding: 1rem;
    }

    .testimonial-name-position{
      margin-left: 2rem;
    }

    .rec-arrow-left,.rec-arrow-right{
      background-color: transparent !important;
      color: lightgray !important;
      line-height: 35px !important;
    }
    /*Accordion styling here*/
    .accordion-item{
      border: none;
      outline: none;
    }
    .accordion button{
      background-color: transparent;
    }

    /*Cards animation code here*/
    .card-container {
      height: 78vh;
      width: 60vw;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 0.65fr 1fr;
      grid-template-rows: 15% 15% 35% 35%;
      margin-top: 5px;
      margin-left: 2rem;
  }
    
  .cards {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s ease;
  }
  .card1 {
      grid-row: 1 / 5;
      grid-column: 3 / 4;
      background-image: url(../assets/1.png);
      transition: all 4s;
      transform-origin: bottom right;
  }
  
  .card2 {
      grid-column: 2 / 3;
      grid-row: 2 / -1;
      background-image: url(../assets/2.png);
      transition: all 4s;
      transform-origin: bottom left;
  }
  
  .card3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      background-image: url(../assets/3.png);
      transition: all 4s;
      transform-origin: top right;
  }
  
  .card4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      background-image: url(../assets/4.png);
      transition: all 4s;
      transform-origin: top left;
  }
  
  .card1.swap {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      transform: translate(0, 0);
  }
  
  .card2.swap {
      grid-row: 1 / 5;
      grid-column: 3 / 4;
      transform: translate(0, 0);
  }
  
  .card3.swap {
      grid-column: 2 / 3;
      grid-row: 2 / -1;
      transform: translate(0, 0);
  }
  
  .card4.swap {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      transform: translate(0, 0);
  }
