
    .bdiv {
      display: flex;
      flex-direction: column;
    }
    .bdiv-2 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      padding: 4px 80px;
    }
    @media (max-width: 991px) {
      .bdiv-2 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
    .img {
      aspect-ratio: 0.76;
      object-fit: contain;
      object-position: center;
      width: 58px;
      overflow: hidden;
      max-width: 100%;
    }
    .bdiv-3 {
      align-self: center;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      margin: auto 0;
    }
    @media (max-width: 991px) {
      .bdiv-3 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .bdiv-4 {
      color: var(--Text, #292929);
      align-self: start;
      white-space: nowrap;
      font: 400 18px Calibri, sans-serif;
    }
    @media (max-width: 991px) {
      .bdiv-4 {
        white-space: initial;
      }
    }
    .bdiv-5 {
      color: var(--Text, #292929);
      align-self: start;
      font: 400 18px Calibri, sans-serif;
    }
    .bdiv-6 {
      color: var(--Text, #292929);
      align-self: start;
      font: 400 18px Calibri, sans-serif;
    }
    .bdiv-7 {
      color: #14b1ff;
      align-self: stretch;
      font: 700 18px Calibri, sans-serif;
    }
    .bdiv-8 {
      color: var(--Text, #292929);
      align-self: start;
      white-space: nowrap;
      font: 400 18px Calibri, sans-serif;
    }
    @media (max-width: 991px) {
      .bdiv-8 {
        white-space: initial;
      }
    }
    .bdiv-9 {
      align-self: center;
      margin-top: 49px;
      width: 100%;
      max-width: 1261px;
    }
    @media (max-width: 991px) {
      .bdiv-9 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .bdiv-10 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .bdiv-10 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .bcolumn {
      display: flex;
      max-width: 75%;
      flex-direction: column;
      line-height: normal;
      width: 75%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .bcolumn {
        width: 100%;
      }
    }
    .bdiv-11 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: start;
      padding: 0 20px;
      margin-top: 5rem;
    }
    @media (max-width: 991px) {
      .bdiv-11 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .bimg-2 {
      aspect-ratio: 2.06;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      align-self: stretch;
    }
    @media (max-width: 991px) {
      .bimg-2 {
        max-width: 100%;
      }
    }
    .bdiv-12 {
      border-radius: 5px 25px 25px 5px;
      background-color: #e7f7ff;
      display: flex;
      gap: 12px;
      padding: 5px 15px;
      max-width: max-content;
    }

    .time_clock{
      margin-top: 1.65rem;
      margin-left: 5px;
      scale: 1.25;
    }
    @media (max-width: 991px) {
      .bdiv-12 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }

    .bdiv-13 {
      color: var(--Section-1, #005e8d);
      letter-spacing: 0.72px;
      align-self: center;
      margin: auto 0;
      font: 700 18px/60px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .bdiv-13 {
        max-width: 100%;
      }
    }
    .bdiv-14 {
      color: var(--Text, #292929);
      letter-spacing: 1.2px;
      align-self: stretch;
      margin-top: 0.5rem;
      font: 700 30px/60px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .bdiv-14 {
        max-width: 100%;
      }
    }
    .btnRead{
      margin-top: 2rem;
    }
    .width
    {
      width: 76rem;
    }
    .bdiv-15 {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: var(--Text, #292929);
      text-overflow: ellipsis;
      letter-spacing: 0.72px;
      align-self: stretch;
      margin-top: 1rem;
      margin-right: 1rem;
      font: 400 18px/35px Calibri, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .bdiv-15 {
        max-width: 100%;
      }
    }
    
    .bdiv-17{
      margin-top: 5rem;
    }
    .blogdiv-button {
      background-color: var(--Section-1, #005e8d);
      color: white;
      border: none;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 5rem;
      width: 10rem;
      box-shadow: 0px 5px 10px 2px rgb(205, 204, 204);
      transition: all 0.2s;
      margin-bottom: 5rem;
      margin-top: 5rem;

    }
    .blogdiv-button:hover{
      cursor: pointer;
      transform: translateY(-2px);
      transition: all 0.2s;
    }
  
.bdiv-19 {
  border-radius: 25px 25px 25px 5px;
  background-color: #e7f7ff;
  display: flex;
  margin: 15px 0 20px 0;
  gap: 12px;
  padding: 30px 0;
}
.bdiv-20 .searchBlog{
  padding: 5px;
  margin-left: 30px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  width: 110%;
}
.bdiv-21{
  border-radius: 25px 25px 25px 5px;
  background-color: #e7f7ff;
  margin: 15px 0 20px 0;
  padding: 30px 0;
}
.bdiv-22, .bdiv-29{
  color: #005e8d;
}
.bdiv-24{
  display: flex;
  gap: 10px;
}
.bdiv-28{
  border-radius: 25px 25px 25px 5px;
  background-color: #e7f7ff;
  margin: 15px 0 20px 0;
  padding: 30px 0;
}
.first{
  width: 19.75rem;
  height: 13.125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
}
    
.mainFlex{
  column-gap: 3rem;
  margin-bottom: 1rem;
  margin-top: 0rem;

  
}
.text{
  overflow: hidden;
color: var(--Text, #292929);
text-align: justify;
text-overflow: ellipsis;
font-family: Calibri;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 2.1875rem; 
letter-spacing: 0.045rem;
}
.glimpse
{
  color: var(--Text, #292929);

font-family: Calibri;
width: 18rem;
font-size: 0.9rem;
font-style: normal;
font-weight: 700;
line-height: 1.25rem; 
letter-spacing: 0.015rem;
}
.recent{
  width: 18.9rem;
  margin-right: 2rem;
height: 13.5625rem;
flex-shrink: 0;
display: flex;
flex-direction: column;
border-radius: 1.875rem 1.875rem 1.875rem 0rem;
background: #E7F7FF;

}
.height
{
  height: 16rem;
}
.recent1
{
  box-shadow: 0px 4px 4px 0px rgba(41, 41, 41, 0.10);
  height: 31rem;

}
.mainImg{
  width: 57.3125rem;
height: 27.875rem;
flex-shrink: 0;
border-radius: 0.3125rem;
}
.update{
  color: var(--Text, #292929);

font-family: Calibri;
font-size: 0.9rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; 
letter-spacing: 0.015rem;
}
.flexAlign{
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  margin-top: 1rem;
}
.align
{
  color: var(--Text, #292929);
  width: 20rem;
  font-family: Calibri;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.015rem;
}
.bdiv-34{
  background-color: #e7f7ff;
  padding: 2rem;
  margin-top: 0rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #E7F7FF;
}
.divChng{
  margin-left: 2.5rem;
}
.bdiv-36{
  padding: 40px;
  display: flex;
  gap: 20px;
}
.bdiv-37{
  gap: 20px;
  display: flex;
}
.bdiv-41{
  gap: 20px;
  display: flex;
}
.bdiv-45{
  display: flex;
  gap: 20px;
}
.bdiv-50{
  gap: 20px;
  padding: 40px;
  display: flex;
}
.bdiv-51{
  gap: 20px;
  display: flex;
}
.bdiv-55{
  gap: 20px;
  display: flex;
}
.bdiv-59{
  gap: 20px;
  display: flex;
}
.stretch-card>.card{width: 100%;min-width: 100%}body{background-color: #f9f9fa}.flex{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto}@media (max-width:991.98px){.padding{padding: 1.5rem}}@media (max-width:767.98px){.padding{padding: 1rem}}.padding{padding: 3rem}.owl-carousel .item{margin: 3px}.owl-carousel .item img{display: block;width: 100%;height: auto}.owl-carousel .item{margin: 3px}.owl-carousel{margin-bottom: 15px}.bottom-left{position: absolute;bottom: 8px;left: 16px;color: pink}