.getIntouch{
  margin-top: 9rem;
  margin-left: 6rem;
  font-size: 13px;
  color: #005e8d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:focus
{
  outline: none;
}
.send-message,.send-message:hover{
  box-shadow: 0px 5px 10px 2px rgb(205, 204, 204);
  background-color: #005e8d;
  color: white;
  font-size: 10px;
}
.underlined-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #005e8d;
  box-shadow: none;
  background-color: transparent;
  color: var(--Section-1, #005E8D);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, -0.75);
  font-family: Calibri;
  line-height: 35px; 
  letter-spacing: 0.72px;
}
.underlined-input:active
{
  outline: none;
}
[name=contact-message]{
  resize: none;
}
.underlined-input::placeholder,[name=contact-message]::placeholder {
  color: rgb(165, 200, 200);
  font-size: 18px;
}
.contact-img{
  height: 100vh;
  margin-top: 15rem;
}
.contact-img-1{
  margin-left: 18rem;
  position: absolute;
}
.form-control:focus
{
  box-shadow: none;
}
.contact-img-2 {
  margin-left: 34.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.img-1{
  margin-top: -5rem;
}
.contactDetails{
  position: absolute;
  margin-top: -36rem;
  margin-left: 7.5rem;
  font-weight: bold;
  font-size: 30px;
  color: #005e8d;
  line-height: 2.1;
}
.contactDetails a{
  color: #005e8d !important;
}
.contactUsicons{
  margin-right: 1rem;
  scale: 1.2;
}