.footer-container{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 100%;
  padding-top: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: medium;
  padding-bottom: 2rem;
}

.footer-link,
.footer-link:visited{
  text-decoration: none;
  color: aliceblue;
}

.logo-img{
  height: 10rem;
}

.icons{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  & i{
    scale: 1.5;
  }
}

h5{
  text-align: center; 
  margin-top: 3rem;
  font-size: medium;
}

@media (max-width: 850px){
  .logo-img{
    height: 5rem;
  }
  .footer-container{
    font-size: medium;
    padding-bottom: 2rem;
  }

  .icons{
    gap: 1rem;

    & i{
      scale: 1;
    }
  }
}