.navbar{
  width: 100%;
  padding-left: 4rem;
  padding-right: 2rem;
  box-shadow: 0px 1px 15px 1px rgb(122, 121, 121);
  position: fixed;
  z-index: 1000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}
.nav-item{
  width: max-content;
}

.navbar-brand{
  object-fit: cover;
  height: auto;
}

.img{
  transform: scale(2);
}

@media (max-width: 991px) {
  .img{
    transform: scale(2);
  }
}
.contactus-link{
  margin-right: 5rem;
}

