*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing-animation-section{
  max-width: 100vw;
  height: 100vh;
  background-color: white;
}

/*-------temp code, must be changed later*/
.homediv-10 {
  gap: 20px;
  display: flex;
  background: transparent;
  /* margin-bottom: 5rem; */
  height: 30rem;
}
@media (max-width: 900px) {
  .homediv-10 {
    /* flex-direction: column; */
    align-items: stretch;
    gap: 0px;
  }
}
.homecolumn {
  display: flex;
  flex-direction: column;
  /* line-height: normal; */
  width: 54%;
  margin-left: 0px;
  /* max-height: 50rem; */
}
@media (max-width: 900px) {
  .column {
    width: 100%;
  }
}
.homediv-11 {
  display: flex;
  margin-top: 153px;
  flex-grow: 1;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 900px) {
  .homediv-11 {
    max-width: 100%;
  }
}
.homediv-12 {
  display: flex;
  margin-right: 53px;
  width: 446px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 900px) {
  .homediv-12 {
    margin-right: 10px;
  }
}
.homediv-13 {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 900px) {
  .homediv-13 {
  margin-left: 2rem;

  }
}
.homediv-14 {
  color: var(--Text, #292929);
  white-space: nowrap;
  margin: auto 0;
  font: 700 19px/20px Calibri, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 900px) {
  .homediv-14 {
    white-space: initial;
  }
}
.container{
  position: relative;
  white-space: nowrap;
  display: inline-block;
  width: 11rem;
  overflow: hidden;
  
}
.homediv-15 {
  color: var(--Section-1, #005e8d);
  align-self: stretch;
  font: 700 30px/20px Calibri, -apple-system, Roboto, Helvetica,
    sans-serif;
    display: inline-block;
     margin:  0px 20px 0px 20px ;
     
   
}
.homediv-15:first-child{
  padding-left: 5px;
   animation: anim 7s infinite;
   animation-timing-function: cubic-bezier(.97,.04,.86,.12);
}

@keyframes anim {
  0%{
    margin-left: 0;
    
  }
  16%{
    margin-left: -160px;
    
  }

  50%{
    margin-left: -330px;
    
  }
  82%{
    margin-left: -150px;
  
  }
  100%{
    margin-left: 0;
  }
  
}

@media (max-width: 900px) {
  .homediv-15 {
    white-space: initial;
  }
}
.homediv-16 {
  color: var(--Text, #292929);
  letter-spacing: 0.36px;
  align-self: stretch;
  margin-top: 33px;
  font: 400 16px/25px Calibri, -apple-system, Roboto, Helvetica,
    sans-serif;
    line-height: 2;
}
@media (max-width: 900px) {
  .homediv-16 {
    max-width: 100%;
    margin-left: 2rem;
  }
}
.homediv-17 {
  display: flex;
  flex-direction: column;
  fill: var(--Section-1, #005e8d);
  overflow: hidden;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 20rem;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  /* padding: 12px 60px 50px; */
}
@media (max-width: 900px) {
  .homediv-17 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.homeimg-2 {
  position: absolute;
  left: -400px;
  /* inset: 0; */
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: rotateRightToLeft 3s alternate infinite;
  
}
@keyframes rotateRightToLeft {
0%{
    transform: rotate(0deg);

}
100%{
    transform: rotate(-180deg);
}
}
.homediv-18 {
  background-color: var(--Section-1, #005e8d);
  color: white;
  border: none;
  padding: 12px;
  display: inline-block;
  font-size: 16px;
  border-radius: 5rem;
  width: 10rem;
  box-shadow: 0px 5px 10px 2px rgb(205, 204, 204);
  transition: all 0.2s;
  margin-left: -3.5rem; 
}
@media (max-width: 900px) {
  .homediv-18 {
    white-space: initial;
    margin-bottom: 40px;
    padding: 0 20px;
    margin-left: auto;
  }
}

.homediv-18:hover{
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.2s;
  background-color: var(--Section-1, #005e8d);
}
.homecolumn-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 46%;
  overflow: hidden;
  margin-left: 20px;
}
@media (max-width: 900px) {
  .homecolumn-2 {
    width: 100%;
  }
}

.homeimg-3 {
  aspect-ratio: 1.19;
  object-fit: contain;
  object-position: center;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  margin: auto 0;
  animation: slides 5s infinite alternate-reverse;
  margin-top: 10rem;
  
}
@keyframes slides {

  0%{ transform:translateX(100%) ;}
  44%{transform:translateX(0%);}
  66%{transform:translateX(0%);}
  100%{transform:translateX(-100%);}
  }


@media (max-width: 900px) {
  .homeimg-3 {
    /* scale: 0.5; */
  }
}

/*#############################WHY CHOOSE US SECTION HERE#############################-*/
.why-choose-us-section{
    max-width: 100vw;
    height: 70vh;
    background-color: white;
    display: flex;
}

.why-choose-img-container{
  width: 50vw;
  position: relative;
}

.why-choose-us-img{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.why-choose-us-svg{
  position: absolute;
  top: 55%;
  right: 1%;
}
.why-choose-us-dot1{
  position: absolute;
  top: 60%;
  right: 12%;
}

.why-choose-us-dot3{
  position: absolute;
  top: 70%;
  right: 4%;
}

.why-choose-us-dot1, .why-choose-us-dot3{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #3765B3;
}

.why-choose-us-dot2{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #3765B3;
  position: absolute;
  top: 65%;
  right: 10%;
}

.why-choose-us-text-container{
  width: 50vw;
  padding: 5%;
}

.why-choose-us-text-container h3{
  font-weight: bolder;
  margin-top: 5%;
}
.why-choose-us-text-container p{
  font-weight: 500;
  line-height: 2rem;
  word-spacing: 3px;
}

@media (max-width:900px) {
  .why-choose-us-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  .why-choose-img-container{
    width: 98vw;
    height: 40%;
    position: relative;
  }
  .why-choose-us-text-container{
    width: 98vw;
    height: 45%;
  }
  .why-choose-us-text-container p{
  line-height: 1.2rem;
  }
  .why-choose-us-img{
    max-width: 90%;
    height: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .why-choose-us-svg{
    height: 10%;
    width: 10%;
    position: absolute;
    top: 60%;
    right: 15%;

  }

  .why-choose-us-dot1{
    position: absolute;
    top: 60%;
    right: 28%;
  }
  
  .why-choose-us-dot3{
    position: absolute;
    top: 75%;
    right: 20%;
  }
  
  .why-choose-us-dot1, .why-choose-us-dot3{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #3765B3;
  }
  
  .why-choose-us-dot2{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #3765B3;
    position: absolute;
    top: 65%;
    right: 25%;
  }

  .why-choose-us-text-container{
    padding-bottom: 8rem;
  }

}

/*#############################-------WHAT CLIENT SAYS SECTION HERE-------#############################*/
.what-client-says-section{
  max-width: 100vw;
  background-color: white;
  display: flex;
}

.what-client-says-animation{
  width: 50vw;
  padding: 5%;
  background: #F1F2F5;
}

.what-client-says-animation h2{
  font-weight: 500;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.what-client-says-img-container{
  width: 50vw;
}

.what-client-says-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.what-client-says-carousal{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  }

.what-client-says-carousal-text{
  padding: 2rem;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 15px 5px rgba(217, 216, 216, 0.592);
  border-radius: 5px;
}

.what-client-says-name-des-text{
  margin-left: 3rem;
  margin-top: -2rem;
}

.what-client-says-text-para{
line-height: 2;
margin-top: 5rem;
}

@media (max-width:900px) {
  .what-client-says-section{
    background-color: rgb(239, 236, 236);
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
    align-items: center;
  }

  .what-client-says-animation{
    width: 100%; 
    background-color: rgb(239, 236, 236);
    text-align: center;
    padding-left: -4rem;
  }

  .what-client-says-animation h2{
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .what-client-says-img{
    height: 90%;
    width: 95%;
    object-fit: contain;
    border-radius: 15px;
  }
}

/*#############################------CEO FOUNDER SECTION HERE------#############################*/
.ceo-founder-animation-section{
  max-width: 100vw;
  height: 95vh;
  background-color: white;
  display: flex;
}

.ceo-founder-animation-container{
  width: 50vw;
  background-color: white;
  position: relative;
}

.ceo-founder-text{
  width: 50vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: center;
}

.ceo-founder-animation {
  height: 60%;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 25px 15px rgba(42, 92, 110, 0.327);
  animation: logo 4s infinite ease-in-out alternate;
}

@keyframes logo {
  0%, 50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 2%;
    transform: translateX(0);
    background-image: url(../assets/sandeep.jpg);
    object-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  75%,100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 2%;
    transform: translateX(2.5rem);
    background-image: url(../assets/logo.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.ceo-founder-names{
  margin-top: 2rem;
}

.ceo-founder-testimonial{
  line-height: 2;
  padding-right: 5rem;
}

.js-nametag{
  position: absolute;
  margin-left: auto;
  font-size: 3rem;
  text-shadow: 0px 0px 5px 5px grey;
}
.js-nametag:nth-child(1){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
}

.js-nametag:nth-child(2){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

@keyframes fade{
    0%,50% {
      opacity: 0;
}
    75%,100%{
      opacity: 1;
  }
}

@media (max-width:900px) {
  .ceo-founder-animation-section{
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ceo-founder-animation-container{
    width: 90vw;
    height: 50%;
    background-color: white;
    position: relative;
  }

  .ceo-founder-animation {
    height: 85%;
    width: 60%;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px 15px rgba(42, 92, 110, 0.327);
    animation: logo 4s infinite ease-in-out alternate;
  }

  .js-nametag{
    font-size: x-large;
  }

  .ceo-founder-text{
    width: 90vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
  }

  .ceo-founder-testimonial{
    margin-top: 6rem;
  }
}